[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/treb-sol"]
	path = lib/treb-sol
	url = https://github.com/trebuchet-org/treb-sol
[submodule "lib/mento-std"]
	path = lib/mento-std
	url = https://github.com/mento-protocol/mento-std
[submodule "lib/mento-core"]
	path = lib/mento-core
	url = https://github.com/mento-protocol/mento-core
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/mento-router"]
	path = lib/mento-router
	url = https://github.com/mento-protocol/mento-router
[submodule "lib/bold"]
	path = lib/bold
	url = https://github.com/mento-protocol/bold
